#{extends 'main.html' /}
#{set title:'Arena' /}
#{set 'moreScripts'}
    #{script 'user.js'/}
#{/set}
<div id="arena">
<div id="userInfo">
	<div id="username">User: ${user.userName}</div>
	<div id="power">Power: ${user.power}</div>
	<div id="health">Health: ${user.health}</div>
	<div id="location">Location: ${user.location.name}</div>
	<div id="health">Clan: ${user.clan}</div>
</div>

<div id="usersInLocation">
	    #{list items:usersInLocation, as:'userInLocation' }
			<div class="clan${userInLocation.clan}" id="${userInLocation.id}">
						<div class="attackUserName">${userInLocation.userName}</div>
						<div class="attackPower">${userInLocation.power}</div>
						<div class="attackHealth">${userInLocation.health}</div>
						<button class="attack" onClick="javascript:attack('${userInLocation.id}')">Attack</button>
			</div>        	
    	#{/list}
</div>
<div id="attackedby">
	
</div>
<div id="questionaire">
	Attacked using Question <br/>
	<div id="Question"></div>
	<div id="answer"></div>
</div>
<div id="questionaireAnswer">
	Answer the question <br/>
	<div id="QuestionAttacked"></div>
	<div id="answerAttacked"></div>
</div>
<script>
	var userName = "${user.userName}";
	var userId = "${user.id}";
</script>