#{extends 'main.html' /}
#{set title:'Arena' /}
#{set 'moreScripts'}
    #{script 'user.js'/}
#{/set}
<div class="consoleDiv">
<div id="arena">
<div id="userInfo">
	<div id="username" class="arenaConsole">User: ${user.userName}</div>
	<div id="power" class="arenaConsole">Power: ${user.power}</div>
	<div id="health" class="arenaConsole">Health: ${user.health}</div>
	<div id="location" class="arenaConsole">Location: ${user.location.name}</div>
	<div id="health" class="arenaConsole">Clan: ${user.clan}</div>
	<div id="image" class="arenaConsole">	
		<img src="/public/images/${user.clan}.jpg" height="200px" width="200px"/>
	</div>
</div>

</div>
</div>
<div class="arenaItem">Enemies Around You</div>
<div id="usersInLocation">		
	    #{list items:usersInLocation, as:'userInLocation' }
	    	#{if user.clan!=userInLocation.clan}    						
			<div class="clan${userInLocation.clan} toAttack" id="${userInLocation.id}">
						<img src="/public/images/${userInLocation.clan}.jpg" height="100px" width="100px"/>
						<div class="attackUserName arenaItem">${userInLocation.userName}</div>
						<div class="attackPower arenaItem">${userInLocation.power}</div>
						<div class="attackHealth arenaItem">${userInLocation.health}</div>
						<button class="attack btn" onClick="javascript:attack('${userInLocation.id}')">Attack</button>						
			</div>        				
			#{/if}
    	#{/list}
</div>
<div id="attackedby">
	
</div>
<div id="questionaire">
	Attacked using Question <br/>
	<div id="Question"></div>
	<div id="answer"></div>
</div>
<div id="questionaireAnswer">
	Answer the question <br/>
	<div id="QuestionAttacked"></div>
	<div id="answerAttacked"></div>
</div>

<script>
	var userName = "${user.userName}";
	var userId = "${user.id}";
</script>