#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'geo.js'/}
#{/set}

<style>
.myMainDiv{
	text-align: center;
	margin:300px;
	border-style: outset;
	border-color: black;
	border-width: 2px;	
	padding: 20px;	
	
}
body{
background: url(/public/images/wallpaper-22.jpg) white center no-repeat fixed;
}
</style>
<div class="container-fluid">
  <div class="row-fluid">    
    <div class="span10">
    	<div class="myMainDiv">	
      	<form id="userForm" name="userinfo" action="/venues" method="post">
			User Name: <input type="text" name="username" /><br />
			<input type="submit" value="Enter Arena"/>
		</div>
    </div>
  </div>
</div>
</form>